# Chapter 7 - Activity

1.	Load the libraries we used in this chapter

In [3]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

# line to allow the plots to be showed in the Jupyter notebook
#%matplotlib inline

2.	Load the strategy games dataset

In [12]:
games = pd.read_csv('../data/appstore_games.csv')

3.	Perform all the transformations we did in the first section of the chapter

In [13]:
original_colums_dict = {x: x.lower().replace(' ','_') for x in games.columns}

games.rename(
    columns = original_colums_dict,
    inplace = True
)

games.set_index(
    keys = 'id',
    inplace = True
)

games.drop(
    columns = ['url', 'icon_url'],
    inplace = True
)

games['original_release_date'] = pd.to_datetime(games['original_release_date'])
games['current_version_release_date'] = pd.to_datetime(games['current_version_release_date'])

games = games.loc[games['average_user_rating'].notnull()]

games = games.loc[games['user_rating_count'] >= 30]

4.	Print the dimensions of the dataset, you must have a DataFrame with 4311 rows and 15 columns

In [11]:
games.shape

(4311, 15)

5.	Impute the missing values in the languages column with the string “EN” to indicate that those games are available only in English

In [15]:
games['languages'] = games['languages'].fillna('EN')

6.	Create the variable “free_game” that has the value of “free” if the game has a price of 0 and “paid” if the price is above zero

In [16]:
games['free_game'] = (games['price'] == 0).astype(int).map({0:'paid', 1:'free'})

7.	Create the variable “multilingual” that has the values of “monolingual” if the language column only one language string, and “multilingual” if the language column has at least 2 language strings

In [17]:
number_of_languages = games['languages'].str.split(',').apply(lambda x: len(x))
games['multilingual'] = number_of_languages == 1
games['multilingual'] = games['multilingual'].astype(int).map({0:'multilingual', 1:'monolingual'})

8.	Create one variable named "price_language" that contains the four combinations from the two variables created in the last step (free-monolingual, free-multilingual, paid-monolingual, paid-multilingual)

In [27]:
games['price_language'] = games['free_game'] + '-' + games['multilingual']

9.	Calculate how many observation we have of each type in the price_language variable

In [28]:
games['price_language'].value_counts()

free-monolingual     10553
free-multilingual     3659
paid-monolingual      2073
paid-multilingual      722
Name: price_language, dtype: int64

In [31]:
games.groupby('price_language')['average_user_rating'].describe()

                    count      mean       std  min  25%  50%  75%  max
price_language
free-monolingual   4262.0  4.053965  0.783632  1.0  3.5  4.5  4.5  5.0
free-multilingual  2063.0  4.106883  0.659991  1.0  4.0  4.5  4.5  5.0
paid-monolingual    799.0  3.974969  0.798651  1.0  3.5  4.0  4.5  5.0
paid-multilingual   437.0  4.068650  0.733285  1.0  4.0  4.5  4.5  5.0